{% extends 'base.html' %}
{% block content %}
<div class="w-[90%] mx-auto flex justify-center">
    <div class="w-[50%]">
        {% if user.user_acc.user_image %}
        <img src="{{ user.user_acc.user_image.url }}" alt="">
        {% else %}
        <h1>None</h1>
        {% endif %}
        <h1>{{user.first_name}}</h1>
        <h1>{{user.last_name}}</h1>
        <h1>{{user.email}}</h1>
        <h1>{{user.user_acc.contact_no}}</h1>
        <h1>{{user.user_acc.gender}}</h1>
        <h1>{{user.user_acc.dob}}</h1>
        {% if user.user_acc.user_img is none %}
        <h1>None</h1>
        {% else %}
        <h1>{{user.user_acc.user_image}}</h1>
        {% endif %}
    </div>
    <div class="w-[50%]">
    <form action="{% url 'update-user-profile' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
          <label class="label">First Name</label>
          <input type="text" class="input w-[100%] file-input-primary" name="first_name" placeholder="First Name" />
          <label class="label">Last Name</label>
          <input type="text" class="input w-[100%] file-input-primary" name="last_name" placeholder="Last Name" />  
          <label class="label">Contact No</label>
          <input type="text" class="input w-[100%] file-input-primary" name="contact_no" placeholder="Contact No" />  
         <label class="label">Profile Image</label>
         <input type="file" class="file-input file-input-primary w-[100%]" name="user_image" /> 
          <label class="label"></label>
         <input type="submit" class="btn btn-primary" value="Submit">
    </form>
    </div>
</div>
{% endblock%}