{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- DaisyUI & Tailwind -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.23/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block title %}{% endblock %}</title>

    <script>
        tailwind.config = {
            plugins: [daisyui],
            daisyui: {
                themes: ["light"],
            },
        };
    </script>
</head>

<body>
    
   {% include 'navbar.html' %}
    <main class="min-h-screen pt-20">
        {% block content %}
        {% endblock %}
    </main>

    {% include 'footer.html' %}
</body>

</html>
